<?xml version="1.0"?>
<launch>

  <include file="$(find navio2_ros)/launch/imu_node.launch" />
  
  <!-- Filter raw gyro, accel and mag data into a usable orientation -->
  <node name="imu_filter" pkg="imu_filter_madgwick" type="imu_filter_node" >
    <!-- <rosparam command="load" file="$(find skidbot)/config/imu_calibration.yaml" /> -->
    <remap from="/imu/data_raw" to="/imu_lsm/data_raw" />
    <remap from="/imu/mag" to="/imu_lsm/mag" />
    <remap from="/imu/data" to="/imu/data_madgwick" />
    <param name="orientation_stddev" value="0.001" />
    <param name="gain" value="0.01" />
    <param name="zeta" value="0.001" />
    <param name="publish_tf" value="false" />
  </node>
</launch>
